<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Form</title>
</head>
<body>
    <div class="input-container">
        <form id="predictionForm">
            <input type="text" id="textInput" name="textInput" placeholder="Enter Tweet...">
            <br><br>
            <input type="button" value="Submit" onclick="submitForm()">
        </form>
    </div>

    <script>
        function submitForm() {
            var tweetInput = document.getElementById("textInput").value;
            
            // Create a JSON object with the input data
            var jsonData = { "textInput": tweetInput };

            // Send a POST request to the /predict endpoint
            fetch('http://127.0.0.1:8000/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(jsonData),
            })
            .then(response => response.json())
            .then(data => {
                // Handle the response data as needed
                console.log(data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
